@model Wedding
<div>
  <h1>Plan Your Wedding</h1>
  <a asp-action="Success" asp-controller="Wedding">Dashboard</a>
  <a asp-action="Logout" asp-controller="User">Logout</a>
</div>
<form asp-action="NewWedding"asp-controller="Wedding" method="post">
  <div class="form-group">
    <label asp-for="WedderOne"></label>
    <input asp-for="WedderOne" class="form-control">
    <span asp-validation-for="WedderOne" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="WedderTwo"></label>
    <input asp-for="WedderTwo" class="form-control">
    <span asp-validation-for="WedderTwo" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="WeddingDate"></label>
    <input asp-for="WeddingDate" class="form-control">
    <span asp-validation-for="WeddingDate" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control">
    <span asp-validation-for="Address" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>